#header {
    text-align: center;
    font-size: 60px;
    font-family: Impact,Charcoal,sans-serif;
}
#listoutput{
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 20px;
    text-align: center ;
    background-color: white;
}

body{
    background-color: darksalmon;
}

#inputs{
    text-align: center ;

}
#addstudent {
    margin-right: auto;
    margin-left: auto;
}